.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3498DB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family:Monospace; 
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn{
  padding: 10px 30px 10px 30px;
  background: #66C1E4;
  border: none;
  color: #FFF;
  box-shadow: 1px 1px 1px #4C6E91;
  -webkit-box-shadow: 1px 1px 1px #4C6E91;
  -moz-box-shadow: 1px 1px 1px #4C6E91;
  text-shadow: 1px 1px 1px #5079A3;
  font-family:Monospace; 
  font-size: 14px;
}
.btn:hover{
  background: #5599FF;
}
.txt{
  font-family:Monospace; 
  font-size: 26px;
}
.header{
  background-color:#FDFEFE;
  padding-bottom: 6%;
  box-shadow: 3px 3px 3px #D7DBDD;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
